<a href="https://colab.research.google.com/github/analyswithKubra/Data-Cleaning-with-Python-/blob/main/Data%20Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
data_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['SQL', 'Python', 'Tableau']", 'job_date': '2024-05-12'},
    {'job_title': 'Data Analyst', 'job_skills': "['Excel', 'SQL', 'Power BI']", 'job_date': '2024-06-08'},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python', 'TensorFlow', 'Pandas']", 'job_date': '2024-07-15'},
    {'job_title': 'Business Intelligence Analyst', 'job_skills': "['SQL', 'Tableau', 'Excel']", 'job_date': '2024-08-01'},
    {'job_title': 'Data Engineer', 'job_skills': "['SQL', 'Python', 'Spark']", 'job_date': '2024-09-10'},
    {'job_title': 'Data Architect', 'job_skills': "['SQL', 'AWS', 'ETL']", 'job_date': '2024-10-22'},
    {'job_title': 'AI Researcher', 'job_skills': "['Python', 'Deep Learning', 'PyTorch']", 'job_date': '2024-11-05'},
    {'job_title': 'Database Administrator', 'job_skills': "['SQL', 'PostgreSQL', 'MongoDB']", 'job_date': '2024-12-18'},
    {'job_title': 'Big Data Analyst', 'job_skills': "['Hadoop', 'Spark', 'Python']", 'job_date': '2025-01-03'},
    {'job_title': 'ETL Developer', 'job_skills': "['SQL', 'ETL', 'SSIS']", 'job_date': '2025-02-14'}
]

In [12]:
from datetime import datetime

In [14]:
data_jobs[0]

{'job_title': 'Data Scientist',
 'job_skills': "['SQL', 'Python', 'Tableau']",
 'job_date': '2024-05-12'}

In [18]:
data_jobs[0]['job_date']

'2024-05-12'

In [19]:
test_date=data_jobs[0]['job_date']

In [20]:
datetime.strptime(test_date,'%Y-%m-%d')

datetime.datetime(2024, 5, 12, 0, 0)

In [22]:
for job in data_jobs:
    job['job_date']=datetime.strptime(job['job_date'],'%Y-%m-%d')

In [28]:
from google.colab import auth
auth.authenticate_user()

In [26]:
for job in data_jobs:
   print(type(job['job_date']))

<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>

In [29]:
!git config --global user.email "kubradizlek1@gmail.com"
!git config --global user.name "analyswithKubra"

In [ ]:
from google.colab import drive
drive.mount('/content/drive')